body {
  background-color: #d9e8f7;
}

/*h3 {
  font-family: monospace;
  font-size: 25px;
  text-align: center;
}

h2 {
  font-family: monospace;
  font-size: 25px;
  text-align: center;
}

.featured {
  font-size: 20px;
  text-align: center;
  font-family: monospace;
}*/

.searchContainer {
  background-color: white;
}

.shoppingContainer {
  background-color: white;
}
.wrapper {
  display: grid;
  grid-gap: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-auto-flow: row;
}

.wrapper div {
  text-align: center;
}

.wrapper form {
  min-height: 180px;
  width: 400px;
  margin: 40px auto;
}

.login-forms-container {
  margin-top: 10%;
}

.login-forms {
  min-height: 300;
  max-width: 4300px;
  border: 2px solid black;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
  position: center;
}

.storeSearchBar {
  text-align: center;
  font-family: monospace;
  width: 330px;
  height: 40px;
}

.searchBtn {
  width: 330px;
  margin-left: 10.625px;
}

#title {
  color: #224153;
}

#login {
  height: 180px;
  width: 280px;
  text-align: right;
  padding: 10px;
}

#FL-Container {
  width: 2000px;
  padding: 30px;
  font-family: monospace;
/*  border-color: black;
  border-style: solid;
  border-width: 1px;*/
  text-align: center;

}

#whitebox-popular {
  background-color: white;
  width: 100%;
  text-align: center;
}

.FL-col1 {
  width: 200px;
  float: left;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  text-align: center
}

.aligning{
  text-align: center;
}

.list {
  padding: 30px;
}

.is-table-row {
  display: table;
  float: left;
}

.is-table-row [class*="col-"] {
  float: none;
  display: table-cell;
  text-align: center;
  vertical-align: bottom;
}

.popular-item {
  text-align: center;
  min-width: 100px;
}

.product-details {
  text-align: left;
}

.text-link {
  cursor: pointer;
}

.divider {
  width: 5px;
  height: auto;
  display: inline-block;
}

.selectBox {
  display: block;
  font-size: 16px;
}

h3.wish-list-name:hover {
  background-color: #F9EDBE;
}

i {
  color: white;
}

.wish-list {
  display:inline-block;
}

.wish-list-name {
  padding-bottom: 10px;
}

.wish-list-edit {
  margin-bottom: 4px;
}

.item-title {
  color: inherit;
}

.item-title:hover {
  color: white;
}

.clear-icon {
  float: right;
  position: static;
  transform: translateY(-10px) translateX(7px);
}

.container-fluid {
  padding: 0px 200px;
}

.create-wish-list-button {
  margin: 0px 40px 20px 4px;
  margin-right: 40px;
  display: inline-block;
  margin-bottom: 10px;
}

.email-button {
  float: right;
  display: inline-block;
}

.center-view {
  height: 544px;
}

.loading-circle {
  transform: translateY(232px);
}

.store {
  height: 392px;
  overflow-y: scroll;
}

/*.col-md-3 {
  border: 1px solid black;
}*/

.col-md-6 {
  border: 1px solid black;
}